/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
}

p,h2 {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
}
table, th, td {
    border: 1px solid #333;
}

th, td {
    padding: 10px;
    text-align: left;
}

form {
    margin: 20px auto;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    height: auto;
}
